@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth
}

h1,
h2,
h3,
h4 {
    color: #2f3844;
}

h5 {
    color: #295b9b;
}

p {
    color: #606970;
}

h1 {
    font-size: 3.625rem;
    line-height: 67.2px;
    font-weight: 700;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
        line-height: 47.2px;
    }
}

h2 {
    font-size: 2.375rem;
    line-height: 67.2px;
    font-weight: 700;
}

@media (max-width: 600px) {
    h2 {
        font-size: 1.95rem;
        line-height: 42.2px;
    }
}

h3 {
    font-size: 1.35rem;
    font-weight: 700;
    padding: 17px 0 10px 0;
}

@media (max-width: 600px) {
    h3 {
        font-size: 1.35rem;
        line-height: 30.2px;
    }
}

a {
    text-decoration: none;
}

li {
    color: #3d474e;
}

.container {
    max-width: 1145px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}



/* Navigation Bar */

.container-nav {
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 800px) {
    .container-nav {
        display: none;
    }
}

nav {
    position: absolute;
    right: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}

.nav div {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-list a {
    font-size: 0.875rem;
    color: #3c4858;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s;
    padding: 25px 25px;
}

.nav-list a:hover {
    color: rgb(18, 92, 204);
}

/* Main */

main {
    padding-top: 180px;
    background-image: url(./img/background1.png);
    background-position: center;
    background-color: #f7f8fa;
    padding-bottom: 30px;
}

@media (max-width: 600px) {
    main {
        padding-top: 100px;
        background-position: left;
    }
}

@media (max-width: 1200px) {
    main {
        background-position: left;
    }
}

main>div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.empresaria-img {
    max-width: 103%;
    border-radius: 8px;
}

.main-container {
    max-width: 60%;
    margin: auto;
    display: flex;
    gap: 35px;
}

@media (max-width: 600px) {
    .main-container {
        flex-direction: column;
        max-width: 100%;
    }
}

.main-text {
    width: 60%;
    position: relative;
    top: -35px;
}

@media (max-width: 1200px) {
    .main-container {
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 85%;
    }
}

.main-text p {
    margin: 35px 0 75px 0;
    font-size: 1.125rem;
}

@media (max-width: 600px) {
    .main-text p {
        font-size: 1.105rem;
        margin: 35px 0 45px 0;
    }
}

.main-img {
    width: 60%;
}

@media (max-width: 600px) {
    .main-img {
        width: 85%;
        order: -1;
        padding-bottom: 25px;
    }
}

.main-button {
    padding: 20px 52px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    background: #083b86;
    border: 1px solid #031f57;
    color: #fff;
    box-shadow: 0 3px 5px 0 rgb(50 116 240 / 30%);
    font-size: 1.125rem;
}

@media (max-width: 800px) {
    .main-button {
        padding: 15px 46px;
        letter-spacing: 0.3px;
        transition: all 0.3s;
        background: #083b86;
        border: 1px solid #031f57;
        color: #fff;
        box-shadow: 0 3px 5px 0 rgb(50 116 240 / 30%);
        font-size: 1rem;
    }
}

.main-button:hover {
    background: #0c4cac;
    border: 1px solid rgb(10, 62, 139)
}

/* Finanças da Maneira Certa */

section {
    padding-top: 80px;
}

.container-header {
    margin: 0 auto 50px;
    text-align: center;
    padding-bottom: 50px;
}

@media (max-width: 1200px) {
    .container-header {
        margin: 0 auto 20px;
    }
}

.container-header p {
    font-size: 1.125rem;
}

.container-servicos {
    display: flex;
    gap: 45px;
}

@media (max-width: 600px) {
    .container-servicos {
        flex-direction: column;
        margin: 0 auto;
        gap: 10px;
    }
}

.container-items {
    flex: 1;
}

.container-items h3 {
    margin-bottom: 12px;
    position: relative;
    top: -25px;
}

.container-items p {
    font-size: 1rem;
    position: relative;
    top: -25px;
}

.container-items img {
    width: 83%;
}

/* Invista conosco */

#Invista {
    padding-top: 80px;
}

.container-invista-conosco {
    display: flex;
    gap: 40px;
}

@media (max-width: 600px) {
    .container-invista-conosco {
        flex-direction: column;
        margin: 0 auto;
        gap: 15px;
    }
}

.escritorio-img-div {
    flex: 1.5;
}

@media (max-width: 850px) {
    .escritorio-img-div {
        display: grid;
        place-items: center;
    }
}

@media (max-width: 600px) {
    .escritorio-img-div {
        display: block;
    }
}

.escritorio-img {
    width: 95%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .escritorio-img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.invista-conosco {
    padding-top: 26px;
    flex: 2;
}

.invista-conosco h2 {
    margin-bottom: 15px;
}

.invista-conosco ul {
    margin: 32px 0 66px;
    list-style: none;
}

@media (max-width: 1000px) {
    .invista-conosco ul {
        margin: 22px 0 36px;
    }

    .invista-conosco {
        padding-top: 5px;
    }

    #Invista {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .invista-conosco ul {
        margin: 26px 0 46px;
    }

    .invista-conosco {
        padding-top: 25px;
        width: 100%;
    }

    #Invista {
        padding-bottom: 10px;
    }
}

.invista-conosco li {
    margin: 6px 0;
    position: relative;
}

.invista-conosco li:before {
    content: "";
    background-image: url("img/checkmark.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -30px;
    top: 51%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

@media (max-width: 600px) {
    .invista-button {
        padding-bottom: 50px;
        display: grid;
        place-items: center;
    }
}

.mais-informacoes-button {
    padding: 14px 42px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    background: #083b86;
    border: 1px solid #031f57;
    color: #fff;
    box-shadow: 0 3px 5px 0 rgb(50 116 240 / 30%);
    font-size: 1rem;
}

.mais-informacoes-button:hover {
    background: #0c4cac;
    border: 1px solid rgb(10, 62, 139)
}

/* Notícias */

#Noticias {
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: #f7f8fa;
}

.noticia-img {
    width: 100%;
    height: 45%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.container-noticias {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.article-noticias {
    box-shadow: 0 0 3px rgb(60 72 88 / 15%);
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.175);
    border-radius: 8px;
    flex: 1;
    background-color: #fff;
    min-width: 300px;
}

@media (max-width: 1200px) {
    .container-noticias a:nth-child(3) {
        flex: 0.55;
    }
}

.article-noticias:hover {
    transition: all 0.3s ease;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.article-noticias-info {
    padding: 10px 20px 20px 20px;
}

.article-noticias-fonte {
    padding-bottom: 8px;
}

.article-noticias-titulo {
    padding-bottom: 15px;
}

.article-noticias-descricao {
    padding-bottom: 30px;
}

@media (max-width: 675px) {
    .container-header p {
        font-size: 1rem;
    }

    .container-noticias a:nth-child(3) {
        flex: 1;
    }
}