@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    color: #2f3844;
}

p {
   color: #77828b;
}

h1 {
    font-size: 58px;
    line-height: 67.2px;
    font-weight: 700;
}

h2 {
    font-size: 38px;
    line-height: 67.2px;
    font-weight: 700;
}

h3 {
    font-size: 21px;
    line-height: 67.2px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.container {
    max-width: 70rem;
    margin: auto;
}

/* Navigation Bar */

.container-nav {
    max-width: 75rem;
    margin: auto;
}

nav {
    position: absolute;
    right: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}


.nav div {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-list li {
    padding: 25px 10px;
}

.nav-list a {
    font-size: 14px;
    color: #3c4858;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s;
}

.nav-list a:hover {
   color: rgb(18, 92, 204);
}

/* Main */

main {
    padding-top: 180px;
    background-image: url(./img/background1.png);
    background-position: center;
    background-color: #f7f8fa;
    padding-bottom: 30px;
}

main > div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.empresaria {
    max-width: 103%;
}

.main-container {
    max-width: 70rem;
    margin: auto;
    display: flex;
    gap: 35px;
}

.main-text {
    width: 700px;
    position: relative;
    top: -50px;
}

.main-text p {
    margin: 35px 0 75px 0;
    font-size: 18px;
}

.main-img {
    width: 650px;
}

.main-button {
    padding: 20px 52px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    background: rgb(6, 46, 105);
    border: 1px solid #010b1f ;
    color: #fff ;
    box-shadow: 0 3px 5px 0 rgb(50 116 240 / 30%);
    font-size: 18px;
}

.main-button:hover {
    background: rgb(9, 63, 143);
    border: 1px solid rgb(6, 41, 95)
}

/* Section 1 */

section {
    padding: 80px 0 100px;
}

.container-header {
    margin: 0 auto 50px;
    text-align: center;
    padding-bottom: 50px;
}

.container-header p {
    font-size: 17px;
}

.container-servicos {
    display: flex;
    gap: 45px;
}

.container-items {
    flex: 1;
}

.container-items h3 {
    margin: 5px 0;
}

.container-items p {
    font-size: 16px;
}

.container-items img {
    width: 80%;
}
